* {
  margin: 0;
  padding: 0;
}

/* header */
header {
  position: relative;
  display: fixed;
  width: 100%;
  height: 100px;
  transition: background-color 0.5s;
}
header:hover {
  background: rgba(0, 0, 0, 0.5);
}
.header_wrap {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
}
.header_wrap ul {
  display: block;
  width: 100%;
  table-layout: fixed;
  list-style: none;
}
.header_wrap ul li {
  position: relative;
  display: inline-block;
  width: 140px;
  height: 100px;
  margin: 0 90px;
  font-weight: bold;
}
.header_wrap ul li:hover {
  font-size: 20px;
}
.header_wrap li::after {
  position: absolute;
  content:"";
  display: block;
  border-bottom: 3px solid #000;
  transition: width 250ms ease-in-out;
  left: auto;
  width: 0;
}
.header_wrap li:hover::after {
  width: 100%;
}
.header_wrap li a {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
}
.header_wrap ul img {
  text-decoration: none;
  color: black;
  position: relative;
  top: -17px;
}
.logo {
  background: url(../img/MedITEM_logo.png) no-repeat;
  background-size: 128px;
  width: 128px;
  height: 50px;
  margin-top: 0px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-top: -6px;
}
.tdn {
  text-decoration: none;
}

/* footer */
footer {
  position: relative;
  width: 100%;
  height: 70px;
  background-color: rgb(229, 240, 242);
  position: absolute;
  bottom: 0;
}
address {
  text-align: center;
  width: 1200px;
  /* margin: 0 auto; */
  font-size: 14px;
  font-style: inherit;
  color: rgb(70, 70, 70);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 반응형 태블릿 */
@media screen and (max-width: 768px) {
  .header_wrap {
    width: 768px;
  }
  .header_wrap ul img {
    width: 128px;
    position: relative;
    top: -25px;
    left: 10px;
  }
  .header_wrap ul li {
    width: 100px;
    margin-left: 5px;
  }
  .header_wrap ul li::after {
    margin-left: 45px;
  }
  .margin-l {
    margin-left: 40px;
  }
  footer {
    width: 768px;
  }
  address {
    width: 100%;
    /* margin: 0 auto; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* 반응형 휴대폰 (갤럭시 노트 20U 기준) */
@media screen and (max-width: 412px) {
  header {
    height: 150px;
  }
  .header_wrap {
    width: 412px;
  }
  .header_wrap ul img {
    position: absolute;
    margin: 44px 0 0 127px;
  }
  .header_wrap ul li {
    width: 30px;
    font-size: 12px;
    margin-top: 60px;
  }
  .header_wrap ul li:hover {
    font-size: 14px;
  }
  .header_wrap ul li::after {
    margin-left: 52px;
    margin-top: 20px;
  }
  .margin-l {
    margin-left: 50px;
  }
  footer {
    width: 412px;
  }
  address {
    font-size: 10px;
    width: 220px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}