section {
  width: 100%;
}
section .history_wrap {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 1200px;
  height: 800px;
}
section .history_tit {
  position: absolute;
  top: 80px;
  left: 200px;
  font-size: 30px;
  font-weight: bold;
}
section .history_des {
  position: absolute;
  top: 160px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
}
section .history_sch {
  position: absolute;
  top: 36%;
  left: 74.8%;
  transform: translate(-50%, -50%);
}
section .sch_txt {
  width: 150px;
  height: 20px;
  text-align: center;
}
section .sch_btn {
  width: 50px;
  height: 30px;
  cursor: pointer;
  border: none;
  border-radius: 4.5px;
  background-color: #ddd;
}
section .history_table {
  position: absolute;
  top: 330px;
  left: 50%;
  transform: translateX(-50%);
}
table {
  width: 850px;
  table-layout: fixed;
  border-collapse: collapse;
  border-top: 1.8px solid #666;
  border-bottom: 1.8px solid #666;
}
th, td {
  border-bottom: 1px solid rgb(221, 221, 221);
}
th {
  height: 50px;
  background-color: rgb(172, 253, 226);
  border-bottom: 1.2px solid #666;
}
td {
  height: 50px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
/* tr:nth-child(even) {
  background-color: #f2f2f2;
} */
table .number {
  width: 50px;
}
table .busi_name {
  width: 300px;
}
table .delegate {
  width: 200px;
}
table .test_date {
  width: 200px;
}
table .test_result {
  width: 150px;
}

/* 반응형 테블릿 */
@media screen and (max-width: 768px) {
  section .history_wrap {
    width: 768px;
  }
  section .history_tit {
    top: 50px;
    left: 150px;
  }
  section .history_des {
    top: 125px;
  }
  section .history_sch {
    left: 66.5%;
  }
  section .sch_btn {
    margin-left: 5px;
  }
  section .history_table {
    top: 280px;
  }
  section .history_sch {
    top: 33%;
  }
  table {
    width: 500px;
  }
  table .number {
    width: 50px;
  }
  table .busi_name {
    width: 150px;
  }
  table .delegate {
    width: 110px;
  }
  table .test_date {
    width: 110px;
  }
  table .test_result {
    width: 80px;
  }
}

/* 반응형 모바일 */
@media screen and (max-width: 412px) {
  section .history_wrap {
    width: 412px;
  }
  section .history_tit {
    margin-left: -10px;
  }
  section .history_des {
    top: 125px;
    width: 360px;
  }
  section .history_sch {
    width: 215px;
    left: 68.5%;
  }
  section .history_table {
    top: 280px;
  }
  section .history_sch {
    top: 33%;
  }
  table {
    width: 380px;
  }
  th {
    font-size: 14px;
  }
  td {
    font-size: 12px;
  }
  table .number {
    width: 50px;
  }
  table .busi_name {
    width: 110px;
  }
  table .delegate {
    width: 80px;
  }
  table .test_date {
    width: 80px;
  }
  table .test_result {
    width: 80px;
  }
}