section {
  width: 100%;
}
section .form_wrap {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1200px;
}
section .table_tit {
  padding: 50px 0 40px 100px;
}
section .id_table {
  margin: 0 auto;
  width: 1000px;
  height: 550px;
}
section table, td {
  border: 1px solid rgba(50, 50, 50, 0.7);
  border-collapse: collapse;
}
section th {
  height: 30px;
  background-color: rgb(111, 185, 255);
  font-size: 20px;
  color: #fff;
}
section td {
  height: 30px;
  font-size: 17px;
  text-align: center;
}
#ko_busi, #en_busi, #busi_represent, #busi_email, #busi_fax, #charge_name, #charge_num, #charge_email, #charge_posi, #product_name_ko, #product_name_en, #product_version, #product_country {
  width: 280px;
  height: 25px;
}
#busi_establish, #busi_homepage, #busi_pnum {
  width: 400px;
  height: 25px;
}
#busi_number {
  width: 280px;
  height: 50px;
}
#busi_address {
  width: 850px;
  height: 25px;
}
#project_status, #big_type, #small_type {
  width: 250px;
  height: 30px;
  font-size: 17px;
  text-align: center;
  border: none;
}
#project_status {
  width: 200px;
}
table input, textarea {
  border: none;
}
textarea {
  width: 800px;
  resize: none;
}

section .nextpage {
  position: absolute;
  top: 83%;
  left: 50%;
  transform: translateX(-50%);
}
.nextpage input {
  cursor: pointer;
  width: 150px;
  height: 70px;
  font-size: 20px;
  border-top: 1px solid #afafaf;
  border-left: 1px solid #afafaf;
  border-right: 1px solid #afafaf;
  border-bottom: 3px solid #afafaf;
}
.nextpage input:hover {
  background-color: rgb(148, 233, 220);
  transition: 0.5s ease-in-out;
}

/* 반응형 태블릿 */
@media screen and (max-width: 768px) {
  section .form_wrap {
    width: 700px;
  }
  section .table_tit {
    padding: 20px 0 20px 0px;
  }
  section .id_table {
    width: 700px;
    height: 550px;
  }
  #ko_busi, #en_busi, #busi_represent, #busi_email, #busi_fax, #charge_name, #charge_num, #charge_email, #charge_posi, #product_name_ko, #product_name_en, #product_version, #product_country {
    width: 160px;
  }
  #busi_establish, #busi_homepage, #busi_pnum {
    width: 200px;
  }
  #busi_number {
    width: 140px;
  }
  #busi_address {
    width: 500px;
  }
  #project_status, #big_type, #small_type {
    width: 150px;
    font-size: 14px;
  }
  #project_status {
    width: 150px;
  }
  textarea {
    width: 500px;
  }
  section .nextpage {
    top: 85%;
  }
}

/* 반응형 모바일 */
@media screen and (max-width: 412px) {
  section .form_wrap {
    width: 400px;
  }
  section .table_tit {
    padding: 20px 0 20px 0px;
  }
  section .id_table {
    width: 400px;
    height: 550px;
  }
  section th {
    height: 20px;
    font-size: 18px;
  }
  section table td {
    font-size: 12px;
    height: 25px;
  }
  #ko_busi, #en_busi, #busi_represent, #busi_email, #busi_fax, #charge_name, #charge_num, #charge_email, #charge_posi, #product_name_ko, #product_name_en, #product_version, #product_country {
    width: 90px;
    height: 20px;
  }
  #busi_establish, #busi_homepage, #busi_pnum {
    width: 120px;
    height: 20px;
  }
  #busi_number {
    width: 120px;
    height: 40px;
  }
  #busi_address {
    width: 300px;
    height: 20px;
  }
  #project_status, #big_type, #small_type {
    width: 100px;
    font-size: 12px;
    height: 20px;
  }
  #project_status {
    width: 100px;
    height: 20px;
  }
  textarea {
    width: 300px;
  }
  section .nextpage {
    top: 87%;
  }
  select {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}