* {
  padding: 0;
  margin: 0;
}
.bar {
  width: 3px;
  height: 100px;
  margin: 0 auto;
  background-color: black;
}
.word_mark::after, 
.down_img::after, 
.down_jpg::after, 
.down_png::after,
.k4s_wrap::after,
.color_wrap::after {
  display: block;
  content: "";
  clear: both;
}
section {
  width: 100%;
}
section .tit_h2 {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
}
section .menu {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}
section .menu a {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 150px;
  height: 40px;
  line-height: 40px;
  border-top: 1.5px solid #555555;
  border-right: 1.5px solid #555555;
  border-left: 1.5px solid #555555;
  border-bottom: 3px solid #555555;
  text-align: center;
}
section .menu a:hover {
  color: #fff;
  transition: 0.1s;
}
section .menu a::before {
  position: absolute;
  background: rgb(54, 188, 155);
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  transition: top 0.1s ease-in;
}
section .menu a:hover::before {
  top: 0;
}
section .menu a:nth-child(n+2):nth-child(-n+3) {
  margin-left: 30px;
}
section .target {
  width: 1000px;
  margin: 0 auto;
}
section #tab2, #tab3 {
  display: none;
}
section .ci_wrap {
  padding: 30px;
}
section .tit_ci {
  font-size: 24px;
  font-weight: bold;
  color: rgb(54, 188, 155);
  padding-bottom: 25px;
}
section .ci_wrap .meditem_img {
  background: url("../img/MedITEM_logo.png") 0 0 no-repeat;
  background-size: 272px;
  background-position-x: center;
  background-position-y: 39px;
  width: 300px;
  height: 216px;
  border: 1px solid #000;
  border-bottom: 3px solid #000;
  box-sizing: border-box;
  float: left;
}
section .ci_wrap .meditem_des {
  width: 605px;
  margin-left: 35px;
  float: left;
}
.meditem_des p {
  padding: 18px 0;
  font-size: 18px;
}
.meditem_green, .meditem_red, .meditem_orange, .meditem_black {
  font-size: 25px;
  font-weight: bold;
}
.meditem_green {
  color: rgb(54, 188, 155);
}
.meditem_red {
  color: rgb(209, 24, 14);
}
.meditem_orange {
  color: rgb(255, 138, 61);
}
.meditem_black {
  color: #000;
}
.down_img {
  padding: 0 3.5px;
  box-sizing: border-box;
  color: rgb(54, 188, 155);
}
.down_img span {
  float: left;
}
.down_jpg, .down_png {
  float: left;
  border: 1px solid rgb(54, 188, 155);
  border-bottom: 3px solid rgb(54, 188, 155);
  box-sizing: border-box;
  margin-top: 30px;
  cursor: pointer;
  padding: 3px;
  font-weight: bold;
}
.down_png {
  margin-left: 15px;
}
.down_icon {
  background: url("../img/img_download_icon.png") 0 0 no-repeat;
  background-size: 20px;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  float: left;
}

.des_logo {
  padding: 0 30px 30px 30px;
  font-size: 17px;
}
.tit_k4s, .tit_color {
  padding-top: 20px;
}
.k4s_sub_wrap {
  float: left;
}
.k4s_design, .k4s_word {
  padding: 10px;
  width: 300px;
  height: 150px;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #000;
  border-bottom: 3px solid #000;
  box-sizing: border-box;
}
.img_k4s_design {
  background: url("../img/F4S_logo.png") 0 0 no-repeat;
  background-size: 200px;
  background-position-x: 35px;
  background-position-y: center;
  width: 250px;
  height: 100px;
}
.k4s_word {
  margin-top: 30px;
}
.img_k4s_word {
  background: url("../img/F4S_v2_logo.png") 0 0 no-repeat;
  background-size: 180px;
  background-position-x: 46px;
  background-position-y: center;
  width: 230px;
  height: 100px;
}
.k4s_des {
  float: left;
  padding-top: 30px;
  padding-left: 30px;
  font-size: 18px;
}
.des_color {
  padding: 0 20px;
  font-size: 17px;
}
.color_wrap {
  margin-bottom: 150px;
}
.color_box {
  width: 300px;
  float: left;
  margin-left: 25px;
  border: 1px solid #000;
  border-bottom: 3px solid #000;
}
.box_green, .box_red, .box_orange {
  width: 300px;
  height: 80px;
}
.box_green {
  background-color: rgb(54, 188, 155);
}
.box_red {
  background-color: rgb(209, 24, 14);
}
.box_orange {
  background-color: rgb(255, 138, 61);
}
.des_green, .des_red, .des_orange {
  height: 80px;
}
.des_green p:nth-child(1),
.des_red p:nth-child(1),
.des_orange p:nth-child(1) {
  padding: 10px 0 0 20px;
}
.des_green p:nth-child(2),
.des_red p:nth-child(2),
.des_orange p:nth-child(2) {
  text-align: center;
  margin-top: 13px;
  font-weight: bold;
}

.chart_wrap {
  margin: 0 auto;
  padding: 30px;
  margin-bottom: 100px;
}
.chart_img {
  background: url("../img/img_project_table.png") 0 0 no-repeat;
  background-size: 800px;
  background-position: center;
  margin: 0 auto;
  width: 900px;
  height: 450px;
  border: 1px solid #000;
  padding: 20px;
}
.chart_img_lab {
  background: url("../img/img_project_lab.png") 0 0 no-repeat;
  background-size: 800px;
  background-position: center;
  margin: 0 auto;
  width: 900px;
  height: 570px;
  border: 1px solid #000;
  padding: 20px;
}
.chart_task {
  margin-top: 50px;
}
.chart_table, .chart_table_lab {
  width: 800px;
  height: 200px;
  margin: 0 auto;
  border: 1px solid #444;
  border-collapse: collapse;
  text-align: center;
}
.chart_table th, .chart_table td, .chart_table_lab th,  .chart_table_lab td {
  border: 1px solid #000;
}
.chart_table th, .chart_table_lab th {
  background-color: rgb(62, 207, 171);
  height: 40px;
}
.chart_table td, .chart_table_lab td {
  height: 35px;
}

.come_wrap {
  padding: 30px;
  margin: 0 auto;
}
.come_img1 {
  background: url("../img/img_map.png") 0 0 no-repeat;
  background-size: 800px;
  background-position: center;
  width: 1000px;
  height: 400px;
  margin: 0 auto;
}
.come_address, .come_train, .come_bus, .come_come, .come_noti {
  padding: 30px 0;
  width: 1000px;
}
.come_address p:nth-child(2) {
  margin-left: 100px;
}
.come_train_table {
  border: 1px solid #000;
  border-collapse: collapse;
  width: 800px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
}
.come_train_table th {
  background-color: rgb(54, 188, 155);
  border: 1px solid #000;
}
.come_train_table td {
  border: 1px solid #000;
}
.come_train ul {
  margin-top: 20px;
  margin-left: 150px;
}

.come_bus {
  width: 1000px;
}
.come_bus table {
  width: 800px;
  margin: 0 auto;
  border-collapse: collapse;
  text-align: center;
}
.come_bus table th {
  background-color: rgb(54, 188, 155);
  height: 30px;
}
.come_bus th, td {
  border: 1px solid #000;
}
.come_bus table td {
  height: 60px;
}
.come_come p:nth-child(2) {
  text-align: center;
}
.come_noti {
  width: 1000px;
  margin: 0 auto;
}
.come_img_wrap {
  background-color: rgb(54, 188, 155);
  padding: 30px 0;
  width: 900px;
  margin: 0 auto;
}
.come_img2 {
  background: url("../img/img_map2.png") 0 0 no-repeat;
  background-size: 840px;
  margin: 0 auto;
  width: 840px;
  height: 475px;
}
.come_img3 {
  background: url("../img/img_mapping.png") 0 0 no-repeat;
  background-size: 840px;
  margin: 0 auto;
  width: 840px;
  height: 140px;
  margin-top: 30px;
}