section {
  width: 100%;
  margin: 0 auto;
}
section .main_wrap {
  position: relative;
  width: 100%;
  height: 907px;
  background-color: #000;
}
section .main_img {
  background: url(../img/img_kira.jpg) no-repeat 0 0;
  background-size: 1451.2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1451.2px;
  height: 100%;
}
section .main_text_1 {
  position: absolute;
  top: 200px;
  left: 10%;
}
section .main_text_2 {
  position: absolute;
  top: 200px;
  right: 10%;
  text-align: right;
}
section .header_text {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
}
section .text_1, .text_2, .text_3, .text_4 {
  color: #fff;
  font-size: 30px;
}

/* 반응형 태블릿 */
@media screen and (max-width: 768px) {
  section {
    width: 100%;
    margin: 0 auto;
  }
  section .main_wrap {
    height: 480px;
  }
  section .main_img {
    background-size: 600px;
    width: 600px;
    height: 100%;
  }
  section .main_text_1 {
    position: absolute;
    top: 80px;
    left: 8%;
  }
  section .main_text_2 {
    top: 80px;
    right: 8%;
  }
  section .header_text {
    font-size: 30px;
  }
  section .text_1, .text_2, .text_3, .text_4 {
    font-size: 20px;
  }
}

/* 반응형 스마트폰 */
@media screen and (max-width: 412px) {
  section {
    width: 100%;
    margin: 0 auto;
  }
  section .main_warp {
    height: 257.5px;
  }
  section .main_img {
    background-size: 412px;
    width: 412px;
    height: 100%;
  }
  section .main_text_1 {
    position: absolute;
    top: 220px;
    left: 4%;
  }
  section .main_text_2 {
    top: 220px;
    right: 4%;
  }
  section .header_text {
    font-size: 20px;
  }
  section .text_1, .text_2, .text_3, .text_4 {
    font-size: 16px;
  }
}